* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-bg);
  color: var(--cor-texto-base);
  display: grid;
  font-family: var(--font-family-base);
  font-size: var(--texto-base);
  gap: 4px;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 80vh 80vh 80vh 60vh 20vh 60vh 60vh;
  width: 100vw;
}

nav {
  padding-top: 50px;
}

h1 {
  color: var(--cor-titulo-grande);
  font-family: var(--font-family-titulo);
  font-size: var(--titulo-grande);
  font-weight: bold;
}

h2 {
  color: var(--cor-titulo-medio);
  font-family: var(--font-family-titulo);
  font-size: var(--titulo-medio);
  font-weight: bold;
}

h3 {
  font-size: var(--titulo-menor);
}

h4 {
  color: var(--cor-titulo-base);
  font-size: var(--titulo-mini);
  font-weight: 600;
}

h5 {
  font-size: var(--titulo-micro);
}

a {
  color: var(--cor-texto-nav);
  font-size: var(--texto-secundario);
  text-decoration: none;
}
